---
Checks: "*, \
  -llvmlibc*, \
  -altera*, \
  -fuchsia-*, \
  -llvm-header-guard, \
  -google-readability-todo, \
  -bugprone-easily-swappable-parameters, \
  -modernize-use-trailing-return-type"
HeaderFilterRegex: ""
...
